* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
}

:root {
	--bg-color: #ffffff;
	--text-color: black;
	--main-color: #75a16d;
}

#contenedor_carga{
	top: 0;
	background-color:white;
	height: 100%;
	width: 100%;
	position: fixed;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	z-index: 10000;
}

#carga{
	border: 15px solid #ccc;
	border-top-color: var(--main-color);
	border-top-style: groove;
	height: 100px;
	width: 100px;
	border-radius: 100%;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	-webkit-animation: girar 1.5s linear infinite;
	-o-animation: girar 1.5s linear infinite;
	animation: girar 1.5s linear infinite;
}

@keyframes girar{
	from{ transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}

body {
	max-width: 100%;
	min-height: 100vh;
	background: white;
	color: var(--text-color);
	animation: transitionIn 1s;
}

@keyframes transitionIn {
	from {
		opacity: 0;

	}

	to {
		opacity: 1;
	}
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: rgb(255, 255, 255);
	padding: 22px 12%;
	transition: all .50s ease;
	height: 10vh;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--main-color);
	height: 22vh;
	width: 15vh;
}

.logo img {
	transform: translateY(3vh);
	width: 15vh;
}

.navbar {
	display: flex;
}

.navbar a {
	color: var(--text-color);
	font-size: 1.1rem;
	font-weight: 500;
	padding: 5px 0;
	margin: 0px 30px;
	transition: all .50s ease;
}

.navbar a:hover {
	color: var(--main-color);
}

.navbar a.active {
	color: var(--main-color);
}

.main {
	display: flex;
	align-items: center;
}

.main a {
	margin-right: 25px;
	margin-left: 10px;
	color: var(--text-color);
	font-size: 1.1rem;
	font-weight: 500;
	transition: all .50s ease;
}

.user {
	display: flex;
	align-items: center;
}

.user i {
	color: black;
	font-size: 28px;
	margin-right: 7px;
}

.main a:hover {
	color: var(--main-color);
}

#menu-icon {
	font-size: 35px;
	color: var(--text-color);
	cursor: pointer;
	z-index: 10001;
	display: none;
}

#d1 {
	color: white;
	font-size: 7vh;
	margin-top: 4.9%;
	text-align: center;
	background: fixed no-repeat url(https://firebasestorage.googleapis.com/v0/b/bamboom-e1267.appspot.com/o/images%2Fconstrucci%C3%B3n1%2FConstrucci%C3%B3n1-3.jpeg?alt=media&token=c4f06254-516d-4f8e-acb0-765681489ce4);
	background-size: 100%;
	background-position: 50%;
}

#d1 div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5%;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.623);
}

#ti1 {
	font-size: 8vh;
	border-bottom: solid white;
	text-align: center;
	width: 15%;
}

#ti2 {
	text-align: center;
}

@keyframes fedeintext {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

#model-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80%;
	margin: 0;
}

#modelViewer {
	opacity: 0;
	width: auto;
	height: 700px;
	background-color: rgb(234, 234, 234);
	animation: modelviewerin 1s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}

#modv {
	z-index: 900;
	position: absolute;
	width: 55%;
	height: 700px;
}

#divespa {
	width: 55%;
	height: 700px;
}

@keyframes modelviewerin {
	from {
		opacity: 0;
		transform: translateX(-20px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

#info {
	flex-direction: column;
	display: flex;
	justify-content: center;
	width: 100%;
	margin-left: 50%;
}

#info h1,
h2,
h3,
h4 {
	text-align: left;
	width: 100%;
}

#info h3 {
	color: rgb(105, 105, 105);
	font-weight: 100;
}

.top-border:before {
	border-top: 3px solid var(--main-color);
}

.Bottom-border:before {
	border-bottom: 3px solid var(--main-color);
}

.top-border:before,
.top-border:after,
.Bottom-border::before,
.Bottom-border::after {
	box-sizing: border-box;
	content: '';
	position: absolute;
	width: 100%;
	height: 30px;
	left: 43%;
	border-left: 3px solid var(--main-color);
	border-right: 3px solid var(--main-color);
}

#nose {
	width: 40%;
	justify-content: center;
	display: flex;
	align-items: center;
}

@media (max-width: 1280px) {
	header {
		width: 100%;
		padding: 14px 3%;
		transition: .2s;
	}

	.navbar a {
		padding: 5px 0;
		margin: 0px 20px;
	}


}

@media (max-width: 1090px) {
	#menu-icon {
		display: block;
	}

	#modelViewer {
		width: 100%;
		height: 300px;
	}

	.navbar {
		position: absolute;
		top: 100%;
		right: -100%;
		width: 270px;
		height: 35vh;
		background: var(--main-color);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		border-radius: 10px;
		transition: all .50s ease;
	}

	.navbar a {
		display: block;
		margin: 12px 0;
		padding: 0px 25px;
		transition: all .50s ease;
	}

	.navbar a:hover {
		color: var(--text-color);
		transform: translateY(5px);
	}

	.navbar a.active {
		color: var(--text-color);
	}

	.navbar.open {
		right: 2%;
	}

	#model-info {
		display: block;
		justify-content: center;
	}

	#modv {
		width: 100%;
		height: 300px;
	}

	#nose {
		margin-top: 20px;
	}

	#info {
		display: grid;
		grid-template-columns: 30% 30% 20%;
		grid-template-rows: 60% 40%;
		margin-top: 5%;
		width: 100%;
		margin-left: 5%;

	}

	#nose {
		width: 100%;
	}

	#ifd1 {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	#ifd2 {
		grid-column: 2/3;
		grid-row: 1/2;
	}

	#ifd3 {
		grid-column: 3/4;
		grid-row: 1/2;
	}

	#ifd4 {
		grid-column: 1/2;
		grid-row: 2/3;
	}

	#ifd5 {
		grid-column: 2/3;
		grid-row: 2/3;
	}

	.top-border:before,
	.top-border:after,
	.Bottom-border::before,
	.Bottom-border::after {
		left: 12%;
		width: 100%;
	}

	#d1 {
		font-size: 6vh;
		text-align: center;
		background-size: 100%;
		background-position-y: 60%;
	}

	#d1 div {
		padding-top: 10%;
	}

	#ti1 {
		font-size: 7vh;
		width: 25%;
	}

	#divespa {
		height: 300px;
		width: 100%;
	}

	#olv {
		width: 30%;
	}
}

@media (max-width: 725px) {
	#d1 {
		text-align: center;
		background-size: 120%;
		background-position-y: 30%;
		font-size: 5vh;
	}

	#d1 div {
		padding-top: 15%;
		width: 100%;
		height: 10%;
	}

	#ti1 {
		width: 25%;
		font-size: 5vh;
	}

	#modelViewer {
		width: 100%;
		height: 300px;
	}

	#info {
		display: flex;
		flex-direction: column;
		margin-left: 15%;
	}



}

@media (max-width: 650px) {

	#d1 div {
		padding-top: 15%;
		padding-bottom: 5%;
	}

	#d1 {
		font-size: 5vh;
		background-position-y: 30%;
	}

	#ti1 {
		font-size: 5vh;
		width: 30%;
	}
}

@media (max-width: 600px) {
	#d1 {
		background-size: 120%;
		background-position-y: -50%;
		font-size: 4vh;
	}

	#d1 div {
		padding-top: 20%;
		padding-bottom: 10%;
	}

	#ti1 {
		font-size: 4vh;
		width: 25%;
	}
}

@media (max-width: 490px) {

	#d1 {
		font-size: 3vh;
		background-size: 120%;
		background-position-y: -15%;
	}

	#d1 div {
		padding-top: 20%;
		padding-bottom: 10%;
	}

	#ti1 {
		font-size: 3vh;
		width: 25%;
	}
}

#pantallacompleta {
	cursor: pointer;
	position: absolute;
	transform: translateX(100%) translateY(650px);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 30px;
	box-shadow: #d1d1d1 0px 5px 2px;
	width: 30px;
	height: 30px;
	background-color: #ffffff;
	transition: 0.5s;
}

#pantallacompleta:hover {
	color: white;
	background-color: #75a16d;
}

#tutorial {
	cursor: pointer;
	position: absolute;
	transform: translateX(250%) translateY(650px);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-radius: 30px;
	box-shadow: #d1d1d1 0px 5px 2px;
	width: 30px;
	height: 30px;
	background-color: #ffffff;
	transition: 0.5s;
	font-size: 15px;
}

#tutorial:hover {
	color: white;
	background-color: #75a16d;
}

#tuto {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.497);
}

#overview {
	margin: 0 5%;
}

#overview h1 {
	border-bottom: solid rgb(105, 105, 105);
	width: 15%;
	margin-bottom: 10px;
}

#overview p {
	color: rgb(105, 105, 105);
	font-size: 3vh;
}


@media (max-width: 1920px){
	#imagenes{
		height: 900px;
	}
}
@media (max-width: 1072px){
	#imagenes{
		height: 600px;
	}
}
@media (max-width: 800px){
	#imagenes{
	max-width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	}
	#imagenes div{
	margin: auto;
	width: 80%;
	height: 350px;
	}
}

#catfotos{
	top: 0;
	position: fixed;
	background-color: #020202bf;
	width: 100%;
	height: 100%;
	z-index: 2000;
	display: flex;
	align-items: center;
	justify-content: center;
}

#catfotos:hover #barra {
	opacity: 1;
}
#catfotos:hover #flechaizq{
	opacity: 1;
}
#catfotos:hover #flechadec{
	opacity: 1;
}

#catfotos img{
	max-width: 100%;
	height: auto;
	position: absolute;
	transition: 1s;
}
#barra{
	top: 0;
	z-index: 3000;
	position: absolute;
	display: flex;
	width: 100%;
	height: 50px;
	background-color: #02020286;
	opacity: 0;
	transition: 0.5s;
}
#barra div:nth-child(1){
	color: rgb(255, 255, 255);
	padding: 0 1%;
	width: 30%;
	display: flex;
	justify-content: left;
	align-items: center;
}
#barra div:nth-child(2){
	color: rgb(155, 155, 155);
	padding: 0 1%;
	width: 70%;
	display: flex;
	justify-content: right;
	align-items: center;
}
#barra div:nth-child(2) span{
	cursor: pointer;
	margin: 0 1%;
	transition: 0.5s;
}
#barra div:nth-child(2) span:hover{
	color: white;
}

#flechaizq{
	opacity: 0;
	display: flex;
	color: white;
	cursor: pointer;
	text-align: center;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 1%;
	height: 15vh;
	width: 5vh;
	background-color: rgb(34, 34, 34);
	transition: 1s;
	z-index: 3000;
}

#flechadec{
	z-index: 3000;
	opacity: 0;
	display: flex;
	color: white;
	cursor: pointer;
	text-align: center;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 1%;
	height: 15vh;
	width: 5vh;
	background-color: rgb(34, 34, 34);
	transition: 1s;
}

#flechadec:hover, #flechaizq:hover{
	background-color: white;
	color: black;
}

#barrainf{
	justify-content: center;
	min-width: 100%;
	display: flex;
	bottom: 0px;
	position: absolute;
	z-index: 2000;
	height: 120px;
	background-color: #02020286;
	transition: 1s;
}
#contentbarrainf{
	height: 100%;
	position: absolute;
	justify-content: center;
	display: flex;
	width: auto;
}
#contentbarrainf div{
	background-size: 180%;
	background-repeat: no-repeat;
	cursor: pointer;
	background-position: center;
	height: 100%;
	width: 120px;
	transition: 0.5s;
}

#contentbarrainf div:hover{
	opacity: 0.5;
}

#fizqbinf{
	position: absolute;
	color: black;
	left: 0;
	z-index: 3000;
}

#contmen{
	cursor: pointer;
	border-radius: 0.5vh 0.5vh 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 5%;
	top: -40%;
	color: rgb(155, 155, 155);
	font-size: 5vh;
	background-color: #02020286;
	width: 10vh;
	height: 40%;
	text-align: center;
	transition: 0.5s;
}
#contmen:hover{
	color: white;
}



#imagenes {
	background-color: #2f2f2f;
    max-width: 100%;
	padding: 3% 3% 5% 3%;
}

#imagenes div {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
	margin-top: 5%;
}

#imagenes div span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.555);
    font-size: 50px;
    opacity: 0;
    transition: 0.5s;
}

#imagenes div span:hover {
    opacity: 1;
}

.cont1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.cont1 div:nth-child(1) {
    grid-row: 1/1;
    grid-column: 1/1;
}

.cont2 {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 45% 45%;
    grid-template-rows: 100%;
}

.cont2 div:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/1;
}

.cont2 div:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/1;
}

.cont3 {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 32.2% 32.2% 32.2%;
    grid-template-rows: 100%;
}

.cont3 div:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/1;
}

.cont3 div:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/1;
}

.cont3 div:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/1;
}

.cont4 {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 32.2% 32.2% 32.2%;
    grid-template-rows: 50% 50%;
}

.cont4 div:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
}

.cont4 div:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
}

.cont4 div:nth-child(3) {
    grid-column: 2/3;
    grid-row: 1/3;
}

.cont4 div:nth-child(4) {
    grid-column: 3/4;
    grid-row: 1/3;
}

.cont5 {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 32.2% 32.2% 32.2%;
    grid-template-rows: 50% 50%;
}

.cont5 div:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
}

.cont5 div:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
}

.cont5 div:nth-child(3) {
    grid-column: 2/3;
    grid-row: 1/3;
}

.cont5 div:nth-child(4) {
    grid-column: 3/4;
    grid-row: 1/2;
}

.cont5 div:nth-child(5) {
    grid-column: 3/4;
    grid-row: 2/3;
}

footer{
	justify-content: space-between;
	width: 100%;
	height: 250px;
	background-color: #1f1f1f;
	display: grid;
	padding: 5%;
	color: white;
	grid-template-columns: 30% 30% 30%;

}
footer div:nth-child(1){
	grid-column: 1/2;
}
footer div:nth-child(2){
	grid-column: 2/3;
}
footer div:nth-child(3){
	grid-column: 3/4;
}
